<div class="product-card" data-product="<%= product.id %>">
    <img src="<%= product.image %>" alt="<%= product.name %>">
    <h3>
        <%= product.name %>
    </h3>
    <p>
        <%= product.description %>
    </p>
</div>